In [1]:
# This notebook serves to breakdown the total dataset so that we have some basic stats to show on the paper

In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('./data/campaign/campaign_sampled_df_verbalised.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7607 entries, 0 to 7606
Data columns (total 32 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   entity_id                7607 non-null   object
 1   claim_id                 7607 non-null   object
 2   rank                     7607 non-null   object
 3   property_id              7607 non-null   object
 4   datatype                 7607 non-null   object
 5   datavalue                7607 non-null   object
 6   sampling_weight_vb       7607 non-null   object
 7   sampling_weight          7607 non-null   float64
 8   entity_label             7607 non-null   object
 9   property_label           7607 non-null   object
 10  object_label             7607 non-null   object
 11  theme_entity_id          7607 non-null   object
 12  theme_entity_label       7607 non-null   object
 13  entity_desc              7607 non-null   object
 14  property_desc            7607 non-null   object
 15  object_desc              7607 non-null   object
 16  entity_alias             7607 non-null   object
 17  property_alias           7607 non-null   object
 18  object_alias             7607 non-null   object
 19  entity_label_lan         7607 non-null   object
 20  property_label_lan       7607 non-null   object
 21  object_label_lan         7607 non-null   object
 22  entity_desc_lan          7607 non-null   object
 23  property_desc_lan        7607 non-null   object
 24  object_desc_lan          7607 non-null   object
 25  entity_alias_lan         7607 non-null   object
 26  property_alias_lan       7607 non-null   object
 27  object_alias_lan         7607 non-null   object
 28  verbalisation            7607 non-null   object
 29  processed_verbalisation  7607 non-null   object
 30  unk_count                7607 non-null   int64
 31  property_and_theme_id    7607 non-null   object
dtypes: float64(1), int64(1), object(30)
memory usage: 1.9+ MB

In [5]:
df.head()

,entity_id,claim_id,rank,property_id,datatype,datavalue,sampling_weight_vb,sampling_weight,entity_label,property_label,...,entity_desc_lan,property_desc_lan,object_desc_lan,entity_alias_lan,property_alias_lan,object_alias_lan,verbalisation,processed_verbalisation,unk_count,property_and_theme_id
0,Q20451714,Q20451714$49CB1F7A-FC51-41CF-81EA-3EC1EC81AB5D,normal,P366,wikibase-item,"{'value': {'entity-type': 'item', 'numeric-id'...",37|14,2.642857,Livramento Do Brumado Airport,use,...,en,en,en,en,en,en,Livramento Do Brumado Airport is used by gener...,Livramento Do Brumado Airport is used by gener...,0,P366Q1248784
1,Q1655953,Q1655953$CAAADB1F-5DCA-4492-8707-EEAAAE8C7035,normal,P366,wikibase-item,"{'value': {'entity-type': 'item', 'numeric-id'...",37|14,2.642857,Confresa Airport,use,...,en,en,en,en,en,en,Confresa Airport is used by general aviation.,Confresa Airport is used by general aviation.,0,P366Q1248784
2,Q12692647,Q12692647$4C0066D0-8B10-433F-88F1-6AA6B01EE058,normal,P366,wikibase-item,"{'value': {'entity-type': 'item', 'numeric-id'...",37|14,2.642857,Fazenda Bananeira Airport,use,...,en,en,en,en,en,en,Fazenda Bananeira Airport is used by general a...,Fazenda Bananeira Airport is used by general a...,0,P366Q1248784
3,Q7589682,Q7589682$2dd0b4b8-4b51-8876-1a25-4adf01ccfbf4,normal,P366,wikibase-item,"{'value': {'entity-type': 'item', 'numeric-id'...",37|14,2.642857,St. Louis Regional Airport,use,...,en,en,en,en,en,none,St. Louis Regional Airport uses an air taxi.,St. Louis Regional Airport uses an air taxi.,0,P366Q1248784
4,Q9586474,Q9586474$814EF1BE-6ACE-4627-9EF1-D0C4A24DFE3F,normal,P366,wikibase-item,"{'value': {'entity-type': 'item', 'numeric-id'...",37|14,2.642857,Santa Rosa do Purus Airport,use,...,en,en,en,en,en,en,Santa Rosa do Purus Airport is used by general...,Santa Rosa do Purus Airport is used by general...,0,P366Q1248784

In [7]:
df.entity_id.unique().shape

(6821,)

---

In [8]:
df['count'] = True

def is_all_english(row):
    if row['entity_label_lan'] != 'en':
        return False
    if row['property_label_lan'] != 'en':
        return False
    if row['object_label_lan'] != 'en':
        return False
    return True

df['en_count'] = df.apply(is_all_english, axis=1)

In [9]:
df.sum()

entity_id                  Q20451714Q1655953Q12692647Q7589682Q9586474Q738...
claim_id                   Q20451714$49CB1F7A-FC51-41CF-81EA-3EC1EC81AB5D...
rank                       normalnormalnormalnormalnormalnormalnormalnorm...
property_id                P366P366P366P366P366P366P366P366P366P366P366P3...
datatype                   wikibase-itemwikibase-itemwikibase-itemwikibas...
datavalue                  {'value': {'entity-type': 'item', 'numeric-id'...
sampling_weight_vb         37|1437|1437|1437|1437|1437|1437|1437|1437|143...
sampling_weight                                                  1.68166e+08
entity_label               Livramento Do Brumado AirportConfresa AirportF...
property_label             useuseuseuseuseuseuseuseuseuseuseuseuseuseloca...
object_label               general aviationgeneral aviationgeneral aviati...
theme_entity_id            Q1248784Q1248784Q1248784Q1248784Q1248784Q12487...
theme_entity_label         AirportAirportAirportAirportAirportAirportAirp...
entity_desc                airport in Brazilairport in Brazilairport in B...
property_desc              main use of the subject (includes current and ...
object_desc                civil use of aircraft excluding commercial tra...
entity_alias               ['SNLB']['CFO', 'SJHG']['SDZS']['St. Louis Air...
property_alias             ['function', 'role', 'mission', 'purpose', 'ut...
object_alias               ['GA', 'G/A', 'genav', 'civil aviation']['GA',...
entity_label_lan           enenenenenenenenenenenenenenenenenenenenenenen...
property_label_lan         enenenenenenenenenenenenenenenenenenenenenenen...
object_label_lan           enenenenenenenenenenenenenenenenenenenenenenen...
entity_desc_lan            enenenenenenenenenenenenenenenenenenenenenenen...
property_desc_lan          enenenenenenenenenenenenenenenenenenenenenenen...
object_desc_lan            enenenenenenenenenenenenenenenenenenenenenenen...
entity_alias_lan           enenenenenenenenenenenenenenenenenenenenenenen...
property_alias_lan         enenenenenenenenenenenenenenenenenenenenenenen...
object_alias_lan           enenennoneenenenenenenenenenenenenenenenenenen...
verbalisation              Livramento Do Brumado Airport is used by gener...
processed_verbalisation    Livramento Do Brumado Airport is used by gener...
unk_count                                                               1469
property_and_theme_id      P366Q1248784P366Q1248784P366Q1248784P366Q12487...
count                                                                   7607
en_count                                                                6651
dtype: object

In [10]:
df['property_label'].unique().shape

(439,)

In [11]:
df.groupby('theme_entity_label').sum()

                      sampling_weight  unk_count  count  en_count
theme_entity_label
Airport                  5.618400e+04         57    382       349
Artist                   2.264998e+06         99    384       364
Astronaut                4.019000e+03         60    351       333
Athlete                  2.853909e+06         78    385       369
Building                 1.813678e+06         95    385       290
CelestialBody            2.337678e+07          1    385       385
ChemicalCompound         6.475005e+05         30    383       375
City                     8.516800e+04        105    383       341
ComicsCharacter          1.581900e+04         29    376       356
Food                     8.441000e+03         56    368       315
MeanOfTransportation     1.619500e+04        143    376       333
Monument                 3.567119e+05        132    380       241
Mountain                 2.238100e+05         81    384       324
Painting                 1.039852e+06         49    385       238
Politician               1.640396e+06         93    385       349
SportsTeam               6.833900e+04         35    383       347
Street                   5.335950e+05         96    384       306
Taxon                    2.192918e+06          4    385       374
University               2.136600e+04        112    378       348
WrittenWork              1.309460e+08        114    385       314

In [14]:
df.groupby('theme_entity_label').property_label.unique()

theme_entity_label
Airport                 [use, located in time zone, native label, has ...
Artist                  [discography, conflict, writing language, numb...
Astronaut               [narrative role, nickname, conflict, catchphra...
Athlete                 [penalty minutes in career, total assists in c...
Building                [post town, founded by, archives at, number of...
CelestialBody           [time of discovery or invention, discoverer or...
ChemicalCompound        [issue, stereoisomer of, volume, page(s), publ...
City                    [historical region, follows, Köppen climate cl...
ComicsCharacter         [medical condition, has quality, genre, owner ...
Food                    [hashtag, opposite of, mass, followed by, Scov...
MeanOfTransportation    [height, different from, uses, width, boiler p...
Monument                [fabrication method, diocese, located on terra...
Mountain                [heritage designation, length, significant eve...
Painting                [described by source, inscription, significant...
Politician              [catalog code, affiliation, allegiance, copyri...
SportsTeam              [authority, location of formation, crew member...
Street                  [different from, described by source, historic...
Taxon                   [different from, named after, litter size, hos...
University              [budget, name in kana, located on street, foll...
WrittenWork             [collection, performer, legal citation of this...
Name: property_label, dtype: object

In [16]:
df['claim_id'].unique().shape

(7607,)

---

# Correcting UNKS

In [38]:
df = pd.read_csv('./data/campaign/campaign_sampled_df_verbalised.csv')

In [11]:
df2 = df.copy()

In [31]:
from IPython.display import clear_output
import time

for i, row in df2.iterrows():
    if row['unk_count'] > 0:
        print(i)
        print(row['entity_label'])
        print(row['property_label'])        
        print(row['object_label']) 
        print(row['unk_count'])       
        print(row['verbalisation'])            
        print(row['processed_verbalisation'])
        time.sleep(0.5)
        correct = input('IS THIS CORRECT? (y/n): ')
        if correct.lower() != 'y':
            df.loc[i,'processed_verbalisation'] = input('->')
        
        df.loc[i,'unk_count'] = 0        
        clear_output(wait=True)
        #break

7605
Jabal Ḩamdān
country
Jordan
2
Jabal  ⁇ amd ⁇ n is located in Jordan.
Jabal Ḩamdān is located in Jordan.
IS THIS CORRECT? (y/n): y

486 - Yuri Gagarin's birth name is Юрий Алексеевич Гагарин.
614 - Yuri Gagarin's native language is Юрий Алексеевич Гагарин.
729 - Aydyn Aimbetov won the award медаль «За безупречную службу».
908 - Բնակելի տուն is the direction of Տերյան փող.
910 - Խնձորուտ թաղամասի հս մասում, «Քյոր Օղլու յալ» վայրում are the directions for Ամրոց Ալեհերի.
935 - Budova zahradnictví na hradě Špilberk has a conscription number of 217.
1165 - Maribor has an IPA transcription called "[ˈmaːribɔr]".
1170 - eɪˈræb is a IPA transcription of Arab.
1226 - základní škola is a subsidiary of Plzeň.
1533 - Умная Маша was published in Chizh.
1564 - Умная Маша was published in the 1930s.
1988 - сливки питьевые is the official name for Сливки питьевые с массовой долей жира, which is 20 % до 34 %.
2133 - сливки питьевые стерилизованные is made by sterilization.
2249 - Композиция из глиняных и хрустальных предметов is a relief sculpture.
2396 - 木造法相六祖坐像〈康慶作／（所在南円堂）〉is a time period in the Kamakura period.
2457 - The directions of Khachkar are Գողգոթավանքից քիչ հս-աե, գյուղատեղիի եզրին.
2459 - հս մասում is a direction.
2460 - The directions of Khachkar are Գողգոթավանքի և Քոբայրավանքի միջև.
2474 - The main subject of דיוקן האמן כפילוקטטס צעיר is Philoctetes.
2527 - Mемориальная доска Сергею Чаплыгину commemorates Sergey Chaplygin.
3236 - The native label of Mogilev State University of Food Technologies is "Магiлёўскі дзяржаўны ўніверсітэт харчавання".
3342 - The official name of the Belarusian Trade-Economic University of Consumer Cooperation is Беларускі гандлёва-эканамічны ўніверсітэт спажывецкай кааперацыі.
3485 - 대한민국 형사소송법 제300조 applies to the jurisdiction of South Korea.
3519 - 1000 זמר ועוד זמר is a genre of music of Israel.
3531 - Rabindra Sangeet is a genre of আমার মাথা নত করে দাও.
3546 - ЭСБЕ / Михаиловский, Стоян is from the Russian Empire.
3619 - The author of Erratum: Measurement of Inclusive Differential Cross Sections forΥ(1S)Production inpp¯Collisions ats=1.96 TeV[Phys. Rev. Lett.94, 232001 (2005)] is Wade C. Fisher.
4437 - Mikhail Porechenkov's name in the native language is Михаил Евгеньевич Пореченков.
4438 - Boris Iwanowitsch Prijmak's native language is Борис Іванович Приймак.
4461 - Евгений Николаевич Пьянов's instrument is the guitar.
5028 - The start time of Шесть дней Москвы 2003 is 04/03/2003.
5066 - Шесть дней Москвы 2003 has the edition number 3.
5169 - Тур Страны Басков 2009, Этап 6 is a series ordinal.
5188 - The start point of  Тур Романдии 2007, Пролог is Fribourg.
5270 - Michael Rogers is the stage classification of Про Сайклинг Челлендж США 2014, Этап 6.
5435 - Михаил Андреевич Антипов was a participant in the 18th Congress of the All-Union Communist Party.
6781 - חיפה, הטכניון was created by Joseph Zaritsky.
6813 - The inventory number for Politics vs. aesthetics is C2018/1/17/1.
6814 - The Belarusian National Arts Museum is the collection of  Партрэт Якуба Коласа, карціна Кругера.

In [41]:
df2.unk_count = df.unk_count
df2.to_csv('./data/campaign/campaign_sampled_df_verbalised_unk_fixed.csv',index=None)

---

In [45]:
df_crowd = pd.read_csv('./data/campaign/crowdsourced_campaign_sampled_df_verbalised_english.csv')

In [62]:
df2.shape, df_crowd.shape

((7607, 32), (1426, 44))

In [63]:
to_remove = df2.columns.tolist()
to_remove.remove('claim_id')
df_crowd_r = df_crowd.drop(to_remove, axis=1)
df_crowd_r.head()

,claim_id,campaign_group,fluency,fluency_mean,fluency_median,adequacy,reason_no,reason_not_sure,adequacy_maj,adequacy_perc,had_labels,had_descriptions,had_aliases
0,Q20451714$49CB1F7A-FC51-41CF-81EA-3EC1EC81AB5D,0,"[5, 5, 2, 4, 3]",3.8,4.0,"[1, 0, 0, 0, 0]","[2, -1, -1, -1, -1]","[-1, -1, -1, -1, -1]",0,0.8,3,3,3
1,Q1655953$CAAADB1F-5DCA-4492-8707-EEAAAE8C7035,0,"[3, 3, 3, 0, 4]",2.6,3.0,"[2, 0, 0, 1, 0]","[-1, 2, -1, 4, -1]","[0, -1, -1, -1, -1]",0,0.6,3,3,3
2,Q12692647$4C0066D0-8B10-433F-88F1-6AA6B01EE058,0,"[4, 4, 3, 5, 4]",4.0,4.0,"[0, 0, 0, 0, 1]","[-1, -1, -1, -1, 2]","[-1, -1, -1, -1, -1]",0,0.8,3,3,3
3,Q7589682$2dd0b4b8-4b51-8876-1a25-4adf01ccfbf4,0,"[4, 5, 4, 5, 5]",4.6,5.0,"[0, 0, 1, 0, 0]","[2, 1, 2, -1, -1]","[-1, -1, -1, -1, -1]",0,0.8,3,3,2
4,Q9586474$814EF1BE-6ACE-4627-9EF1-D0C4A24DFE3F,0,"[3, 2, 5, 3, 5]",3.6,3.0,"[0, 0, 0, 0, 0]","[1, -1, -1, -1, 3]","[-1, -1, -1, 1, -1]",0,1.0,3,3,3

In [127]:
df_crowd_r['claim_id_2'] = df_crowd_r['claim_id']
df_j = df2.join(df_crowd_r.set_index('claim_id'), on = 'claim_id', how='outer', lsuffix='_caller', rsuffix='_other')
df_j.head(100)

,entity_id,claim_id,rank,property_id,datatype,datavalue,sampling_weight_vb,sampling_weight,entity_label,property_label,...,fluency_median,adequacy,reason_no,reason_not_sure,adequacy_maj,adequacy_perc,had_labels,had_descriptions,had_aliases,claim_id_2
0,Q20451714,Q20451714$49CB1F7A-FC51-41CF-81EA-3EC1EC81AB5D,normal,P366,wikibase-item,"{'value': {'entity-type': 'item', 'numeric-id'...",37|14,2.642857,Livramento Do Brumado Airport,use,...,4.0,"[1, 0, 0, 0, 0]","[2, -1, -1, -1, -1]","[-1, -1, -1, -1, -1]",0.0,0.8,3.0,3.0,3.0,Q20451714$49CB1F7A-FC51-41CF-81EA-3EC1EC81AB5D
1,Q1655953,Q1655953$CAAADB1F-5DCA-4492-8707-EEAAAE8C7035,normal,P366,wikibase-item,"{'value': {'entity-type': 'item', 'numeric-id'...",37|14,2.642857,Confresa Airport,use,...,3.0,"[2, 0, 0, 1, 0]","[-1, 2, -1, 4, -1]","[0, -1, -1, -1, -1]",0.0,0.6,3.0,3.0,3.0,Q1655953$CAAADB1F-5DCA-4492-8707-EEAAAE8C7035
2,Q12692647,Q12692647$4C0066D0-8B10-433F-88F1-6AA6B01EE058,normal,P366,wikibase-item,"{'value': {'entity-type': 'item', 'numeric-id'...",37|14,2.642857,Fazenda Bananeira Airport,use,...,4.0,"[0, 0, 0, 0, 1]","[-1, -1, -1, -1, 2]","[-1, -1, -1, -1, -1]",0.0,0.8,3.0,3.0,3.0,Q12692647$4C0066D0-8B10-433F-88F1-6AA6B01EE058
3,Q7589682,Q7589682$2dd0b4b8-4b51-8876-1a25-4adf01ccfbf4,normal,P366,wikibase-item,"{'value': {'entity-type': 'item', 'numeric-id'...",37|14,2.642857,St. Louis Regional Airport,use,...,5.0,"[0, 0, 1, 0, 0]","[2, 1, 2, -1, -1]","[-1, -1, -1, -1, -1]",0.0,0.8,3.0,3.0,2.0,Q7589682$2dd0b4b8-4b51-8876-1a25-4adf01ccfbf4
4,Q9586474,Q9586474$814EF1BE-6ACE-4627-9EF1-D0C4A24DFE3F,normal,P366,wikibase-item,"{'value': {'entity-type': 'item', 'numeric-id'...",37|14,2.642857,Santa Rosa do Purus Airport,use,...,3.0,"[0, 0, 0, 0, 0]","[1, -1, -1, -1, 3]","[-1, -1, -1, 1, -1]",0.0,1.0,3.0,3.0,3.0,Q9586474$814EF1BE-6ACE-4627-9EF1-D0C4A24DFE3F
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Q8992,Q8992$FA7EDC10-BCC4-4367-A6F3-AE9C4F87F677,normal,P276,wikibase-item,"{'value': {'entity-type': 'item', 'numeric-id'...",53|14,3.785714,Glasgow Prestwick Airport,location,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,Q11824805,Q11824805$5C864D12-8793-45AC-B3F8-B77A4B9ED1C5,normal,P276,wikibase-item,"{'value': {'entity-type': 'item', 'numeric-id'...",53|14,3.785714,Umm Al Quwain Airport,location,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,Q45938,Q45938$f4740ea2-40d3-2808-298c-c0db82e244b3,normal,P276,wikibase-item,"{'value': {'entity-type': 'item', 'numeric-id'...",53|14,3.785714,Auckland Airport,location,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,Q1827663,Q1827663$cd85ca42-42ce-6679-2a58-5e01b614ce74,normal,P276,wikibase-item,"{'value': {'entity-type': 'item', 'numeric-id'...",53|14,3.785714,Hinche Airport,location,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,Q1433148,Q1433148$D0F57D75-8579-4CF2-9B65-2F9868E44439,normal,P276,wikibase-item,"{'value': {'entity-type': 'item', 'numeric-id'...",53|14,3.785714,Umeå Airport,location,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [131]:
for i, row in df_j.iterrows():
    if not row['claim_id_2'] is np.nan:
        try:
            assert row['claim_id'] == row['claim_id_2']
        except Exception:
            print(row['claim_id'], row['claim_id_2'])
            continue

In [129]:
df_j.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7607 entries, 0 to 7606
Data columns (total 45 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   entity_id                7607 non-null   object
 1   claim_id                 7607 non-null   object
 2   rank                     7607 non-null   object
 3   property_id              7607 non-null   object
 4   datatype                 7607 non-null   object
 5   datavalue                7607 non-null   object
 6   sampling_weight_vb       7607 non-null   object
 7   sampling_weight          7607 non-null   float64
 8   entity_label             7607 non-null   object
 9   property_label           7607 non-null   object
 10  object_label             7607 non-null   object
 11  theme_entity_id          7607 non-null   object
 12  theme_entity_label       7607 non-null   object
 13  entity_desc              7607 non-null   object
 14  property_desc            7607 non-null   object
 15  object_desc              7607 non-null   object
 16  entity_alias             7607 non-null   object
 17  property_alias           7607 non-null   object
 18  object_alias             7607 non-null   object
 19  entity_label_lan         7607 non-null   object
 20  property_label_lan       7607 non-null   object
 21  object_label_lan         7607 non-null   object
 22  entity_desc_lan          7607 non-null   object
 23  property_desc_lan        7607 non-null   object
 24  object_desc_lan          7607 non-null   object
 25  entity_alias_lan         7607 non-null   object
 26  property_alias_lan       7607 non-null   object
 27  object_alias_lan         7607 non-null   object
 28  verbalisation            7607 non-null   object
 29  processed_verbalisation  7607 non-null   object
 30  unk_count                7607 non-null   int64
 31  property_and_theme_id    7607 non-null   object
 32  campaign_group           1426 non-null   float64
 33  fluency                  1426 non-null   object
 34  fluency_mean             1426 non-null   float64
 35  fluency_median           1426 non-null   float64
 36  adequacy                 1426 non-null   object
 37  reason_no                1426 non-null   object
 38  reason_not_sure          1426 non-null   object
 39  adequacy_maj             1426 non-null   float64
 40  adequacy_perc            1426 non-null   float64
 41  had_labels               1426 non-null   float64
 42  had_descriptions         1426 non-null   float64
 43  had_aliases              1426 non-null   float64
 44  claim_id_2               1426 non-null   object
dtypes: float64(9), int64(1), object(35)
memory usage: 2.7+ MB

In [132]:
df_j.to_csv('./data/campaign/campaign_sampled_df_verbalised_unk_fixed_crowd_merged_FULL.csv',index=None)

In [145]:
import json
import ast
json_data = []

for i, row in df_j.iterrows():
    try:
        json_data_row = {
            'claim_id': row['claim_id'],
            'rank': row['rank'],
            'subject_id': row['entity_id'],
            'property_id': row['property_id'],
            'subject_label': row['entity_label'],
            'property_label': row['property_label'],
            'object_label': row['object_label'],
            'subject_dec': row['entity_desc'],
            'property_desc': row['property_desc'],
            'object_desc': row['object_desc'],
            'subject_alias': row['entity_alias'] if row['entity_alias'] == 'no-alias' else ast.literal_eval(row['entity_alias']),
            'property_alias': row['property_alias'] if row['property_alias'] == 'no-alias' else ast.literal_eval(row['property_alias']),
            'object_alias': row['object_alias'] if row['object_alias'] == 'no-alias' else ast.literal_eval(row['object_alias']),
            'object_datatype': row['datatype'],
            'object': ast.literal_eval(row['datavalue']),
            'theme_root_class_id': row['theme_entity_id'],
            'theme_label': row['theme_entity_label'],
            'verbalisation': row['verbalisation'],
            'verbalisation_unk_replaced': row['processed_verbalisation'],
            'sampling_weight': row['sampling_weight']
        }
        if row['claim_id_2'] is not np.nan:
            json_data_row.update(
            {'annotations' : {
                    'fluency_scores': ast.literal_eval(row['fluency']),
                    'fluency_mean': row['fluency_mean'],
                    'fluency_median': row['fluency_median'],
                    'adequacy_scores': ast.literal_eval(row['adequacy']),
                    'adequacy_majority_voted': row['adequacy_maj'],
                    'adequacy_percentage': row['adequacy_perc']
            }})
        else:
            json_data_row.update(
                {'annotations' : None}
            )
        json_data.append(json_data_row)
    except Exception:
        print(row)
        raise

In [156]:
[j for j in json_data if 'Yuri Gagarin\'s birth name' in j['verbalisation']]

[{'claim_id': 'Q7327$1924B9EE-2758-4116-8AE6-5458F639B0B9',
  'rank': 'normal',
  'subject_id': 'Q7327',
  'property_id': 'P1477',
  'subject_label': 'Yuri Gagarin',
  'property_label': 'birth name',
  'object_label': 'Юрий Алексеевич Гагарин',
  'subject_dec': 'Soviet pilot and cosmonaut, first human in space (1934-1968)',
  'property_desc': 'full name of a person at birth, if different from their current, generally used name (samples: John Peter Doe for Joe Doe, Ann Smith for Ann Miller)',
  'object_desc': 'no-desc',
  'subject_alias': ['Yuri Alekseyevich Gagarin',
   'Yuri Alexeyevich Gagarin',
   'Yury Alekseyevich Gagarin',
   'Yury Gagarin'],
  'property_alias': ['maiden name (female)',
   'bn',
   'bname',
   'née',
   'birthname',
   'name at birth',
   'nee',
   'full name at birth',
   'born as',
   'full birth name'],
  'object_alias': 'no-alias',
  'object_datatype': 'monolingualtext',
  'object': {'value': {'text': 'Юрий Алексеевич Гагарин', 'language': 'ru'},
   'type': 'monolingualtext'},
  'theme_root_class_id': 'Q11631',
  'theme_label': 'Astronaut',
  'verbalisation': "Yuri Gagarin's birth name is  ⁇ ри ⁇   ⁇ лексееви ⁇   ⁇ а ⁇ арин.",
  'verbalisation_unk_replaced': "Yuri Gagarin's birth name is Юрий Алексеевич Гагарин.",
  'sampling_weight': 1.571428571,
  'annotations': None}]

In [160]:
with open('./data/campaign/WDV_JSON.json', 'w', encoding='utf-8') as f:
    json.dump(json_data,f,indent=2,ensure_ascii=False)